Hello!

This is the api endpoint.<br><br>

<a href="/api/album">/api/album</a> will return the album name in plain text<br>
<a href="/api/name">/api/name </a>will return the song name in plain text<br>
<a href="/api/artist">/api/artist</a> will return the artist in plain text<br>
<a href="/api/image">/api/image</a> will return the url for the album art in a png format.<br>
<a href="/api/ver">/api/ver</a> returns a value which increases every time the data is refreshed.<br>
<a href="/api/refresh">/api/refresh</a> manually refreshes the date. Returns false when nothing changed and true when data has been updated.<br>
<a href="/api/playing">/api/refresh</a> returns "True" when song is playing, returns "False" when not.<br>
<a href="/api/inc">/api/inc</a> Increments /api/ver. Will return number.<br>